BasedOnStyle: LLVM
Language: Cpp
IndentWidth: 4
TabWidth: 4
UseTab: Never
AccessModifierOffset: -4
ColumnLimit: 160
BreakBeforeBraces: Attach
NamespaceIndentation: All
FixNamespaceComments: false
IndentCaseLabels: true
AllowShortEnumsOnASingleLine: false
PointerAlignment: Left
DerivePointerAlignment: false
SortIncludes: Never
AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
  AlignCompound: true
  PadOperators: true
AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
AlignConsecutiveBitFields:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
AlignArrayOfStructures: Left
AlignAfterOpenBracket: BlockIndent
AlignOperands: AlignAfterOperator
AllowShortFunctionsOnASingleLine: All
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllArgumentsOnNextLine: false
BinPackArguments: false
BinPackParameters: false
AllowShortLambdasOnASingleLine: All
AllowShortBlocksOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakTemplateDeclarations: 'Yes'
BreakBeforeBinaryOperators: NonAssignment
CommentPragmas: '^ IWYU pragma:'
ConstructorInitializerIndentWidth: 0
Cpp11BracedListStyle: false
PackConstructorInitializers: CurrentLine
MaxEmptyLinesToKeep: 2